# Predicting preferred destination  based on taste and preference

The goal is to build a machine learning model that can predict hotel ratings based on customer reviews, budget, specific locations, and the type of residence. The dataset is scraped from TripAdvisor and it contains information about various hotels, including their ratings, reviews, amenities, pricing, geographical coordinates, and residence types (e.g., hotel, bed and breakfast, specialty lodging). By analyzing the text reviews along with these additional factors, the objective is to develop a model that can accurately predict the ratings of new, unseen hotels based on customer reviews, budget constraints, location preferences, and residence type.

Approach:

Data Preprocessing: Clean and preprocess the text reviews by removing stopwords, punctuation, and performing tokenization. Convert the text data into a numerical representation suitable for modeling. Handle missing values, if any, in the budget, location, and residence type columns.

Feature Engineering: Extract additional features from the dataset, such as review sentiment scores, review length, and any other relevant information. Engineer new features related to budget, location, and residence type, such as price range categories, geographical distance from landmarks, and one-hot encoding of residence types.

Model Selection: Experiment with different supervised learning models, such as linear regression, decision trees, random forests, or neural networks, to find the best model for predicting hotel ratings considering customer reviews, budget, location, and residence type. Evaluate the models using appropriate evaluation metrics like mean squared error (MSE) or mean absolute error (MAE).

Model Training and Evaluation: Split the dataset into training and testing sets. Train the selected model on the training set and evaluate its performance on the testing set. Fine-tune the model parameters to improve its accuracy. Perform cross-validation to assess the model's generalization capabilities.

In [51]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

import json
import glob
import re

In [52]:
def read_json_files(json_files):
    dfs = []
    for file in json_files:
        with open(file) as f:
            json_data = json.load(f)
            df = pd.DataFrame(json_data)
            dfs.append(df)

    return pd.concat(dfs, ignore_index=True)

In [53]:
json_files = ['..\Data\drc.json','..\Data\egypt.json', '..\Data\ethiopia.json',
                '..\Data\kenya.json', '..\Data\Madagascar.json', '..\Data\morocco.json',
                r'..\Data\nigeria.json', r'..\Data\rwanda.json', '..\Data\seychelles.json',
                r'..\Data\tanzania.json', r'..\Data\uganda.json', r'..\Data\namibia.json',
                '..\Data\south_africa.json', '..\Data\malawi.json', '..\Data\Senegal.json',
                '..\Data\zambia.json', '..\Data\Ghana.json', '..\Data\Botswana.json', 
                '..\Data\capeverde.json' ]
df = read_json_files(json_files)

In [54]:
df

,id,type,category,subcategories,name,locationString,description,image,photoCount,awards,...,establishmentTypes,ownersTopReasons,localLangCode,guideFeaturedInCopy,rentalDescriptions,photos,bedroomInfo,bathroomInfo,bathCount,baseDailyRate
0,2704993,ATTRACTION,attraction,[Nature & Parks],Congoloisirs,Kinshasa,None,https://media-cdn.tripadvisor.com/media/photo-...,9,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1536776,ATTRACTION,attraction,[Nature & Parks],Okapi Wildlife Reserve,Orientale Province,None,https://media-cdn.tripadvisor.com/media/photo-...,3,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13203729,ATTRACTION,attraction,"[Shopping, Food & Drink]",Marche Nouveau DAIPN,Kinshasa,None,https://media-cdn.tripadvisor.com/media/photo-...,12,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8661504,HOTEL,hotel,[Specialty Lodging],Bukima Tented Camp,"Rumangabo, North Kivu Province",Just outside the Virunga National Park boundar...,https://media-cdn.tripadvisor.com/media/photo-...,79,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10414108,HOTEL,hotel,[Specialty Lodging],"Tchegera Island Tented Camp, Virunga National ...","Goma, North Kivu Province",None,https://media-cdn.tripadvisor.com/media/photo-...,109,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35831,12216827,HOTEL,hotel,[Specialty Lodging],Casa Santos Pinto,"Curral das Vacas, Santo Antao",None,None,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35832,23200009,HOTEL,hotel,[Bed and Breakfast],Kelly GuestHouse - Lovely Bedroom - Plateau Ci...,"Praia, Santiago",None,https://media-cdn.tripadvisor.com/media/partne...,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35833,13423426,HOTEL,hotel,[Bed and Breakfast],Luz Esperanca,"Pedra Badejo, Santiago",None,None,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35834,12957229,HOTEL,hotel,[Specialty Lodging],Pensao Entre Nos,"Tarrafal, Santiago",None,None,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35835,17789396,HOTEL,hotel,[Bed and Breakfast],Pensao Nossa Lar,"Praia, Santiago",None,None,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df.isnull().sum()

id                   0
type                 0
category             0
subcategories     1339
name                 0
                 ...
photos           34497
bedroomInfo      34497
bathroomInfo     34497
bathCount        34497
baseDailyRate    34568
Length: 65, dtype: int64

In [56]:
df.columns

Index(['id', 'type', 'category', 'subcategories', 'name', 'locationString',
       'description', 'image', 'photoCount', 'awards', 'rankingPosition',
       'rating', 'rawRanking', 'phone', 'address', 'addressObj', 'localName',
       'localAddress', 'email', 'latitude', 'longitude', 'webUrl', 'website',
       'rankingString', 'rankingDenominator', 'neighborhoodLocations',
       'nearestMetroStations', 'ancestorLocations', 'ratingHistogram',
       'numberOfReviews', 'reviewTags', 'reviews', 'booking', 'offerGroup',
       'subtype', 'hotelClass', 'amenities', 'numberOfRooms', 'priceLevel',
       'priceRange', 'roomTips', 'checkInDate', 'checkOutDate', 'offers',
       'hotelClassAttribution', 'isClosed', 'isLongClosed', 'openNowText',
       'cuisines', 'mealTypes', 'dishes', 'features', 'dietaryRestrictions',
       'hours', 'menuWebUrl', 'establishmentTypes', 'ownersTopReasons',
       'localLangCode', 'guideFeaturedInCopy', 'rentalDescriptions', 'photos',
       'bedroomInfo', 'bathroomInfo', 'bathCount', 'baseDailyRate'],
      dtype='object')

In [57]:
df.reviewTags.value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           21724
[{'text': 'rooms', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               29
[{'text': 'stay', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                21
[{'text': 'guide', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               19
[{'text': 'breakfast', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           16
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
[{'text': 'large hotel', 'reviews': 3}, {'text': 'swimming pool', 'reviews': 9}, {'text': 'nice pool', 'reviews': 5}, {'text': 'nadia', 'reviews': 4}, {'text': 'africa', 'reviews': 12}, {'text': 'taxis', 'reviews': 4}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
[{'text': 'fridge', 'reviews': 2}, {'text': 'meeting', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
[{'text': 'foot massage', 'reviews': 12}, {'text': 'massage room', 'reviews': 2}, {'text': 'kindness and respect', 'reviews': 2}, {'text': 'surrounded by beautiful gardens', 'reviews': 2}, {'text': 'muddy boots', 'reviews': 6}, {'text': 'outdoor sitting area', 'reviews': 2}, {'text': 'hot water bottles', 'reviews': 7}, {'text': 'national park', 'reviews': 8}, {'text': 'gorilla trekking', 'reviews': 9}, {'text': 'golden monkeys', 'reviews': 5}, {'text': 'lovely fireplace', 'reviews': 2}, {'text': 'stayed for nights', 'reviews': 3}, {'text': 'the entire staff', 'reviews': 2}, {'text': 'dining room', 'reviews': 3}, {'text': 'dian fossey', 'reviews': 2}, {'text': 'every evening', 'reviews': 2}, {'text': 'main building', 'reviews': 2}, {'text': 'grace', 'reviews': 6}, {'text': 'herbert', 'reviews': 4}, {'text': 'gato', 'reviews': 4}, {'text': 'priscilla', 'reviews': 6}, {'text': 'gloria', 'reviews': 2}, {'text': 'fund', 'reviews': 2}, {'text': 'chef', 'reviews': 7}, {'text': 'meals', 'reviews': 11}, {'text': 'lodge', 'reviews': 33}, {'text': 'dusk', 'reviews': 2}, {'text': 'jean', 'reviews': 2}, {'text': 'country', 'reviews': 4}, {'text': 'comfort', 'reviews': 3}]                                                                                                        1
[{'text': 'can't wait to go back', 'reviews': 4}, {'text': 'a lot of fun', 'reviews': 3}, {'text': 'get away', 'reviews': 4}, {'text': 'service was excellent', 'reviews': 3}, {'text': 'hidden gem', 'reviews': 3}, {'text': 'world class', 'reviews': 2}, {'text': 'great amenities', 'reviews': 2}, {'text': 'food was amazing', 'reviews': 2}, {'text': 'high quality', 'reviews': 2}, {'text': 'conference room', 'reviews': 2}, {'text': 'perfect place', 'reviews': 2}, {'text': 'an hour and a half', 'reviews': 2}, {'text': 'the main road', 'reviews': 2}, {'text': 'shores of lake', 'reviews': 2}, {'text': 'top notch', 'reviews': 3}, {'text': 'multi course', 'reviews': 3}, {'text': 'akagera national park', 'reviews': 2}, {'text': 'attention to detail', 'reviews': 2}, {'text': 'rammed earth', 'reviews': 9}, {'text': 'other guests', 'reviews': 7}, {'text': 'communal dinner', 'reviews': 5}, {'text': 'course dinner', 'reviews': 4}, {'text': 'dining experience', 'reviews': 4}, {'text': 'paddle boards', 'reviews': 4}, {'text': 'great job', 'reviews': 3}, {'text': 'wonderful experience', 'reviews': 3}, {'text': 'incredible views', 'reviews': 3}, {'text': 'beautiful design', 'reviews': 3}, {'text': 'play tennis', 'reviews': 3}, {'text': 'staff were friendly', 'reviews': 3}]        1
[{'text': 'carnival', 'reviews': 2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Name: reviewTags, Length: 12450, dtype: int64

In [58]:
# Check null values and filter columns with more than 10000 null values
null_counts = df.isnull().sum()
columns_above_threshold = null_counts[null_counts > 10000].index

# Print the columns with more than 10000 null values
list(columns_above_threshold)

['description',
 'phone',
 'localAddress',
 'email',
 'website',
 'booking',
 'offerGroup',
 'subtype',
 'hotelClass',
 'numberOfRooms',
 'priceLevel',
 'priceRange',
 'roomTips',
 'checkInDate',
 'checkOutDate',
 'offers',
 'hotelClassAttribution',
 'isClosed',
 'isLongClosed',
 'openNowText',
 'cuisines',
 'mealTypes',
 'dishes',
 'features',
 'dietaryRestrictions',
 'hours',
 'menuWebUrl',
 'establishmentTypes',
 'ownersTopReasons',
 'localLangCode',
 'guideFeaturedInCopy',
 'rentalDescriptions',
 'photos',
 'bedroomInfo',
 'bathroomInfo',
 'bathCount',
 'baseDailyRate']

#### Removing Irrelevant columns
There are several columns and attributes that are not useful for our analysis. These include **'image'**, **'photoCount'**, **'awards'**, **'phone'**, **'address'** , **'email'** **'webUrl'**, **'website'** **'neighborhoodLocations'**, **'nearestMetroStations'**, **'booking'**, **'offerGroup'**, **'subtype'**, **'hotelClass'**, **'roomTips'**, **'checkInDate'**, **'checkOutDate'**, **'offers'**, **'hotelClassAttribution'**, **'localLangCode'**, **'isClosed'**, **'isLongClosed'**, **'openNowText'**, **'dietaryRestrictions'**, **'hours'**, **'menuWebUrl'**, **'establishmentTypes'**, **'ownersTopReasons'**, **'guideFeaturedInCopy'**, **'rentalDescriptions'** and **'photos'**.

In [59]:

columns_to_drop = ['image', 'photoCount', 'awards', 'phone', 'address', 'email', 
                   'webUrl', 'website', 'neighborhoodLocations', 'nearestMetroStations', 
                   'booking', 'offerGroup', 'subtype', 'hotelClass', 'roomTips', 'checkInDate', 
                   'checkOutDate', 'offers', 'hotelClassAttribution', 'localLangCode', 'isClosed', 
                   'isLongClosed', 'openNowText', 'dietaryRestrictions', 'hours', 'menuWebUrl', 
                   'establishmentTypes', 'ownersTopReasons', 'guideFeaturedInCopy', 'rentalDescriptions','photos']
df.drop(columns=columns_to_drop, inplace=True)
df.head()

,id,type,category,subcategories,name,locationString,description,rankingPosition,rating,rawRanking,...,priceLevel,priceRange,cuisines,mealTypes,dishes,features,bedroomInfo,bathroomInfo,bathCount,baseDailyRate
0,2704993,ATTRACTION,attraction,[Nature & Parks],Congoloisirs,Kinshasa,None,17.0,4.0,2.778074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1536776,ATTRACTION,attraction,[Nature & Parks],Okapi Wildlife Reserve,Orientale Province,None,1.0,5.0,2.751658,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13203729,ATTRACTION,attraction,"[Shopping, Food & Drink]",Marche Nouveau DAIPN,Kinshasa,None,21.0,5.0,2.773659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8661504,HOTEL,hotel,[Specialty Lodging],Bukima Tented Camp,"Rumangabo, North Kivu Province",Just outside the Virunga National Park boundar...,2.0,4.5,3.351389,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10414108,HOTEL,hotel,[Specialty Lodging],"Tchegera Island Tented Camp, Virunga National ...","Goma, North Kivu Province",None,1.0,5.0,3.464931,...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# we will drop the following columns because they do not have any contribution to our objectives.
# some also contain too many null values to fill. 
# cols_to_drop = columns_above_threshold

# df.drop(columns=cols_to_drop, inplace=True)

In [61]:
list(df.columns)

['id',
 'type',
 'category',
 'subcategories',
 'name',
 'locationString',
 'description',
 'rankingPosition',
 'rating',
 'rawRanking',
 'addressObj',
 'localName',
 'localAddress',
 'latitude',
 'longitude',
 'rankingString',
 'rankingDenominator',
 'ancestorLocations',
 'ratingHistogram',
 'numberOfReviews',
 'reviewTags',
 'reviews',
 'amenities',
 'numberOfRooms',
 'priceLevel',
 'priceRange',
 'cuisines',
 'mealTypes',
 'dishes',
 'features',
 'bedroomInfo',
 'bathroomInfo',
 'bathCount',
 'baseDailyRate']

In [50]:
df[['locationString','rankingPosition','rawRanking','rankingString','rankingDenominator']]

,locationString,rankingPosition,rawRanking,rankingString,rankingDenominator
0,Kinshasa,17.0,2.778074,17.0,105
1,Orientale Province,1.0,2.751658,1.0,4
2,Kinshasa,21.0,2.773659,21.0,105
3,"Rumangabo, North Kivu Province",2.0,3.351389,2.0,3
4,"Goma, North Kivu Province",1.0,3.464931,1.0,17
...,...,...,...,...,...
35831,"Curral das Vacas, Santo Antao",NaN,NaN,52.0,None
35832,"Praia, Santiago",NaN,NaN,52.0,None
35833,"Pedra Badejo, Santiago",NaN,NaN,52.0,None
35834,"Tarrafal, Santiago",NaN,NaN,52.0,None
35835,"Praia, Santiago",NaN,NaN,52.0,None

In [48]:
list(df['rankingString'])

['#17 of 105 things to do in Kinshasa',
 '#1 of 4 things to do in Orientale Province',
 '#21 of 105 things to do in Kinshasa',
 '#2 of 3 Specialty lodging in Rumangabo',
 '#1 of 17 Specialty lodging in Goma',
 '#14 of 43 hotels in Kinshasa',
 '#14 of 105 things to do in Kinshasa',
 '#9 of 105 things to do in Kinshasa',
 '#1 of 12 things to do in Lubumbashi',
 '#1 of 5 Specialty lodging in Matadi',
 '#10 of 105 things to do in Kinshasa',
 '#7 of 105 things to do in Kinshasa',
 '#23 of 105 things to do in Kinshasa',
 '#8 of 105 things to do in Kinshasa',
 '#11 of 105 things to do in Kinshasa',
 '#12 of 105 things to do in Kinshasa',
 '#15 of 105 things to do in Kinshasa',
 '#21 of 43 hotels in Kinshasa',
 '#9 of 67 B&Bs / Inns in Kinshasa',
 '#3 of 105 things to do in Kinshasa',
 '#1 of 2 things to do in Kisantu',
 '#4 of 105 things to do in Kinshasa',
 '#6 of 105 things to do in Kinshasa',
 '#2 of 105 things to do in Kinshasa',
 '#3 of 3 Specialty lodging in Rumangabo',
 '#1 of 1 things to do in Zongo',
 '#2 of 4 things to do in Goma',
 '#19 of 105 things to do in Kinshasa',
 '#1 of 105 things to do in Kinshasa',
 '#5 of 105 things to do in Kinshasa',
 '#56 of 105 things to do in Kinshasa',
 '#13 of 105 things to do in Kinshasa',
 '#2 of 12 things to do in Lubumbashi',
 '#3 of 10 hotels in Lubumbashi',
 '#3 of 4 things to do in Goma',
 '#1 of 4 things to do in Goma',
 '#3 of 12 things to do in Lubumbashi',
 '#1 of 13 B&Bs / Inns in Bukavu',
 '#6 of 10 hotels in Lubumbashi',
 '#1 of 3 Specialty lodging in Rumangabo',
 '#12 of 43 hotels in Kinshasa',
 '#4 of 43 hotels in Kinshasa',
 '#1 of 17 B&Bs / Inns in Goma',
 '#3 of 17 B&Bs / Inns in Goma',
 '#2 of 10 hotels in Lubumbashi',
 '#10 of 43 hotels in Kinshasa',
 '#6 of 43 hotels in Kinshasa',
 '#19 of 43 hotels in Kinshasa',
 '#2 of 36 B&Bs / Inns in Lubumbashi',
 '#2 of 43 hotels in Kinshasa',
 '#25 of 43 hotels in Kinshasa',
 '#7 of 43 hotels in Kinshasa',
 '#1 of 10 hotels in Lubumbashi',
 '#5 of 13 Specialty lodging in Kolwezi',
 '#20 of 105 things to do in Kinshasa',
 '#5 of 43 hotels in Kinshasa',
 '#1 of 43 hotels in Kinshasa',
 '#3 of 13 Specialty lodging in Kolwezi',
 '#3 of 43 hotels in Kinshasa',
 '#19 of 151 places to eat in Kinshasa',
 '#4 of 21 places to eat in Goma',
 '#5 of 21 places to eat in Goma',
 '#1 of 10 places to eat in Bukavu',
 '#2 of 55 Specialty lodging in Kinshasa',
 '#15 of 151 places to eat in Kinshasa',
 '#3 of 21 places to eat in Goma',
 '#16 of 151 places to eat in Kinshasa',
 '#18 of 151 places to eat in Kinshasa',
 '#14 of 151 places to eat in Kinshasa',
 '#17 of 151 places to eat in Kinshasa',
 '#12 of 151 places to eat in Kinshasa',
 '#13 of 151 places to eat in Kinshasa',
 '#13 of 43 hotels in Kinshasa',
 '#1 of 2 Specialty lodging in Bukavu',
 '#1 of 2 B&Bs / Inns in Uvira',
 '#2 of 67 B&Bs / Inns in Kinshasa',
 '#5 of 67 B&Bs / Inns in Kinshasa',
 '#11 of 43 hotels in Kinshasa',
 '#1 of 55 Specialty lodging in Kinshasa',
 '#1 of 6 Specialty lodging in Muanda',
 '#1 of 3 B&Bs / Inns in Beni',
 '#2 of 8 B&Bs / Inns in Kisangani',
 '#1 of 8 B&Bs / Inns in Kisangani',
 '#2 of 7 hotels in Bukavu',
 '#3 of 67 B&Bs / Inns in Kinshasa',
 '#4 of 67 B&Bs / Inns in Kinshasa',
 '#1 of 1 Specialty lodging in Idjwi Island',
 '#2 of 13 Specialty lodging in Kolwezi',
 '#9 of 43 hotels in Kinshasa',
 '#8 of 43 hotels in Kinshasa',
 '#1 of 8 hotels in Goma',
 '#1 of 67 B&Bs / Inns in Kinshasa',
 '#4 of 17 B&Bs / Inns in Goma',
 '#1 of 36 B&Bs / Inns in Lubumbashi',
 '#2 of 13 B&Bs / Inns in Bukavu',
 '#2 of 17 B&Bs / Inns in Goma',
 '#1 of 13 Specialty lodging in Kolwezi',
 '#6 of 67 B&Bs / Inns in Kinshasa',
 '#5 of 17 B&Bs / Inns in Goma',
 '#2 of 21 places to eat in Goma',
 '#2 of 29 places to eat in Lubumbashi',
 '#1 of 7 hotels in Bukavu',
 '#10 of 151 places to eat in Kinshasa',
 '#5 of 151 places to eat in Kinshasa',
 '#1 of 46 Specialty lodging in Lubumbashi',
 '#8 of 151 places to eat in Kinshasa',
 '#3 of 55 Specialty lodging in Kinshasa',
 '#7 of 151 places to eat in Kinshasa',
 '#1 of 29 places to eat in Lubumbashi',
 '#2 of 2 things to do in Kisantu',
 '#52 of 105 things to do in Kinshasa',
 '#55 of 105 things to do in Kinshasa',
 '#1 of 21 places to eat in Goma',
 '#22 of 105 things to do in Kinshasa',
 '#1 of 151 places to eat in Kinshasa',
 '#32 of 105 things to do in Kinshasa',
 '#23 of 151 places to eat in Kinshasa',
 '#21 of 151 places to eat in Kinshasa',
 '#86 of 105 things to do in Kinshasa',
 '#25 of 105 things to do in Kinshasa',
 '#39 of 105 things to do in Kinshasa',
 '#22 of 151 places to eat in Kinshasa',
 '#2 of 4 things to do in Orientale Province',
 '#4 of 151 places to eat in Kinshasa',
 '#24 of 151 places to eat in Kinshasa',
 '#81 of 105 things to do in Kinshasa',
 '#6 of 151 places to eat in Kinshasa',
 '#3 of 151 places to eat in Kinshasa',
 '#98 of 105 things to do in Kinshasa',
 '#4 of 12 things to do in Lubumbashi',
 '#2 of 2 things to do in Equateur Province',
 '#18 of 105 things to do in Kinshasa',
 '#7 of 12 things to do in Lubumbashi',
 '#2 of 151 places to eat in Kinshasa',
 '#20 of 151 places to eat in Kinshasa',
 '#34 of 105 things to do in Kinshasa',
 '#33 of 105 things to do in Kinshasa',
 '#28 of 105 things to do in Kinshasa',
 '#87 of 105 things to do in Kinshasa',
 '#16 of 105 things to do in Kinshasa',
 '#31 of 105 things to do in Kinshasa',
 '#24 of 105 things to do in Kinshasa',
 '#6 of 12 things to do in Lubumbashi',
 '#88 of 105 things to do in Kinshasa',
 '#47 of 105 things to do in Kinshasa',
 '#40 of 105 things to do in Kinshasa',
 '#35 of 105 things to do in Kinshasa',
 '#100 of 105 things to do in Kinshasa',
 '#64 of 105 things to do in Kinshasa',
 '#51 of 105 things to do in Kinshasa',
 '#8 of 29 places to eat in Lubumbashi',
 '#43 of 105 things to do in Kinshasa',
 '#2 of 10 places to eat in Bukavu',
 '#34 of 151 places to eat in Kinshasa',
 '#5 of 29 places to eat in Lubumbashi',
 '#9 of 29 places to eat in Lubumbashi',
 '#7 of 21 places to eat in Goma',
 '#32 of 151 places to eat in Kinshasa',
 '#7 of 29 places to eat in Lubumbashi',
 '#8 of 21 places to eat in Goma',
 '#6 of 29 places to eat in Lubumbashi',
 '#35 of 151 places to eat in Kinshasa',
 '#4 of 13 B&Bs / Inns in Bukavu',
 '#6 of 17 B&Bs / Inns in Goma',
 '#4 of 55 Specialty lodging in Kinshasa',
 '#5 of 55 Specialty lodging in Kinshasa',
 '#1 of 3 hotels in Butembo',
 '#1 of 1 Specialty lodging in Kasindi',
 '#1 of 5 B&Bs / Inns in Bunia',
 '#8 of 67 B&Bs / Inns in Kinshasa',
 '#4 of 17 Specialty lodging in Goma',
 '#2 of 5 B&Bs / Inns in Bunia',
 '#4 of 46 Specialty lodging in Lubumbashi',
 '#2 of 17 Specialty lodging in Goma',
 '#10 of 67 B&Bs / Inns in Kinshasa',
 '#6 of 17 Specialty lodging in Goma',
 '#2 of 46 Specialty lodging in Lubumbashi',
 '#54 of 105 things to do in Kinshasa',
 '#3 of 13 B&Bs / Inns in Bukavu',
 '#37 of 105 things to do in Kinshasa',
 '#36 of 105 things to do in Kinshasa',
 '#48 of 105 things to do in Kinshasa',
 '#13 of 67 B&Bs / Inns in Kinshasa',
 '#5 of 12 things to do in Lubumbashi',
 '#99 of 105 things to do in Kinshasa',
 '#27 of 105 things to do in Kinshasa',
 '#84 of 105 things to do in Kinshasa',
 '#12 of 67 B&Bs / Inns in Kinshasa',
 '#41 of 105 things to do in Kinshasa',
 '#59 of 105 things to do in Kinshasa',
 '#53 of 105 things to do in Kinshasa',
 '#57 of 105 things to do in Kinshasa',
 '#44 of 105 things to do in Kinshasa',
 '#74 of 105 things to do in Kinshasa',
 '#97 of 105 things to do in Kinshasa',
 '#29 of 105 things to do in Kinshasa',
 '#8 of 12 things to do in Lubumbashi',
 '#85 of 105 things to do in Kinshasa',
 '#30 of 105 things to do in Kinshasa',
 '#42 of 105 things to do in Kinshasa',
 '#82 of 105 things to do in Kinshasa',
 '#58 of 105 things to do in Kinshasa',
 '#26 of 105 things to do in Kinshasa',
 None,
 '#49 of 105 things to do in Kinshasa',
 '#83 of 105 things to do in Kinshasa',
 '#77 of 105 things to do in Kinshasa',
 '#96 of 105 things to do in Kinshasa',
 '#45 of 105 things to do in Kinshasa',
 '#25 of 151 places to eat in Kinshasa',
 '#31 of 151 places to eat in Kinshasa',
 '#26 of 151 places to eat in Kinshasa',
 '#27 of 151 places to eat in Kinshasa',
 '#4 of 29 places to eat in Lubumbashi',
 '#3 of 29 places to eat in Lubumbashi',
 '#3 of 10 places to eat in Bukavu',
 '#62 of 105 things to do in Kinshasa',
 '#70 of 105 things to do in Kinshasa',
 '#33 of 151 places to eat in Kinshasa',
 '#37 of 151 places to eat in Kinshasa',
 '#38 of 151 places to eat in Kinshasa',
 '#56 of 151 places to eat in Kinshasa',
 '#55 of 151 places to eat in Kinshasa',
 '#10 of 29 places to eat in Lubumbashi',
 '#54 of 151 places to eat in Kinshasa',
 '#4 of 10 places to eat in Bukavu',
 '#1 of 2 places to eat in Matadi',
 '#49 of 151 places to eat in Kinshasa',
 '#51 of 151 places to eat in Kinshasa',
 '#53 of 151 places to eat in Kinshasa',
 '#47 of 151 places to eat in Kinshasa',
 '#10 of 21 places to eat in Goma',
 '#1 of 4 places to eat in Kisangani',
 '#48 of 151 places to eat in Kinshasa',
 '#50 of 151 places to eat in Kinshasa',
 '#45 of 151 places to eat in Kinshasa',
 '#46 of 151 places to eat in Kinshasa',
 '#41 of 151 places to eat in Kinshasa',
 '#94 of 105 things to do in Kinshasa',
 '#40 of 151 places to eat in Kinshasa',
 '#5 of 10 places to eat in Bukavu',
 '#43 of 151 places to eat in Kinshasa',
 '#59 of 151 places to eat in Kinshasa',
 '#44 of 151 places to eat in Kinshasa',
 '#66 of 105 things to do in Kinshasa',
 '#67 of 105 things to do in Kinshasa',
 '#68 of 105 things to do in Kinshasa',
 '#42 of 151 places to eat in Kinshasa',
 '#50 of 105 things to do in Kinshasa',
 '#78 of 105 things to do in Kinshasa',
 '#72 of 105 things to do in Kinshasa',
 '#69 of 105 things to do in Kinshasa',
 '#63 of 105 things to do in Kinshasa',
 '#11 of 21 places to eat in Goma',
 '#76 of 105 things to do in Kinshasa',
 '#80 of 105 things to do in Kinshasa',
 '#39 of 151 places to eat in Kinshasa',
 '#10 of 12 things to do in Lubumbashi',
 '#11 of 12 things to do in Lubumbashi',
 '#9 of 12 things to do in Lubumbashi',
 '#71 of 105 things to do in Kinshasa',
 '#38 of 105 things to do in Kinshasa',
 '#91 of 105 things to do in Kinshasa',
 '#60 of 105 things to do in Kinshasa',
 '#89 of 105 things to do in Kinshasa',
 '#75 of 105 things to do in Kinshasa',
 '#46 of 105 things to do in Kinshasa',
 '#73 of 105 things to do in Kinshasa',
 '#92 of 105 things to do in Kinshasa',
 '#61 of 105 things to do in Kinshasa',
 '#2 of 6 Specialty lodging in Muanda',
 '#1 of 3 Transportation in Kinshasa',
 '#52 of 151 places to eat in Kinshasa',
 '#11 of 67 B&Bs / Inns in Kinshasa',
 '#58 of 151 places to eat in Kinshasa',
 '#75 of 151 places to eat in Kinshasa',
 '#5 of 17 Specialty lodging in Goma',
 '#74 of 151 places to eat in Kinshasa',
 '#76 of 151 places to eat in Kinshasa',
 '#5 of 36 B&Bs / Inns in Lubumbashi',
 '#3 of 17 Specialty lodging in Goma',
 '#70 of 151 places to eat in Kinshasa',
 '#13 of 29 places to eat in Lubumbashi',
 '#73 of 151 places to eat in Kinshasa',
 '#8 of 10 places to eat in Bukavu',
 '#69 of 151 places to eat in Kinshasa',
 '#12 of 29 places to eat in Lubumbashi',
 '#68 of 151 places to eat in Kinshasa',
 '#66 of 151 places to eat in Kinshasa',
 '#7 of 10 places to eat in Bukavu',
 '#13 of 21 places to eat in Goma',
 '#63 of 151 places to eat in Kinshasa',
 '#65 of 151 places to eat in Kinshasa',
 '#64 of 151 places to eat in Kinshasa',
 '#62 of 151 places to eat in Kinshasa',
 '#1 of 3 Concerts & Shows in Kinshasa',
 '#60 of 151 places to eat in Kinshasa',
 '#1 of 3 Spas & Wellness in Lubumbashi',
 '#61 of 151 places to eat in Kinshasa',
 '#1 of 18 Tours in Goma',
 '#2 of 5 Outdoor Activities in Lubumbashi',
 '#1 of 1 Fun & Games in Lubumbashi',
 '#2 of 12 Fun & Games in Kinshasa',
 '#1 of 9 Spas & Wellness in Kinshasa',
 None,
 '#4 of 15 Outdoor Activities in Goma',
 '#1 of 1 things to do in Bukavu',
 '#77 of 151 places to eat in Kinshasa',
 None,
 None,
 None,
 None,
 '#6 of 10 places to eat in Bukavu',
 '#1 of 10 Nightlife in Kinshasa',
 '#1 of 13 Outdoor Activities in Kinshasa',
 '#1 of 1 places to eat in Beni',
 '#1 of 3 things to do in South Kivu Province',
 None,
 '#80 of 151 places to eat in Kinshasa',
 '#3 of 9 Spas & Wellness in Kinshasa',
 None,
 None,
 '#4 of 10 Nightlife in Kinshasa',
 '#90 of 105 things to do in Kinshasa',
 '#93 of 105 things to do in Kinshasa',
 '#5 of 10 Nightlife in Kinshasa',
 '#2 of 9 Spas & Wellness in Kinshasa',
 '#3 of 10 Nightlife in Kinshasa',
 '#11 of 29 places to eat in Lubumbashi',
 '#29 of 151 places to eat in Kinshasa',
 '#14 of 21 places to eat in Goma',
 '#1 of 1 places to eat in Likasi',
 '#78 of 151 places to eat in Kinshasa',
 '#1 of 2 places to eat in Bunia',
 '#9 of 21 places to eat in Goma',
 '#57 of 151 places to eat in Kinshasa',
 '#2 of 15 Outdoor Activities in Goma',
 None,
 None,
 None,
 '#7 of 15 Outdoor Activities in Goma',
 '#1 of 8 Tours in Kinshasa',
 None,
 None,
 None,
 '#79 of 151 places to eat in Kinshasa',
 None,
 None,
 None,
 None,
 '#8 of 12 Fun & Games in Kinshasa',
 '#36 of 151 places to eat in Kinshasa',
 None,
 '#18 of 29 places to eat in Lubumbashi',
 '#89 of 151 places to eat in Kinshasa',
 '#3 of 3 places to eat in Kolwezi',
 '#90 of 151 places to eat in Kinshasa',
 '#4 of 36 B&Bs / Inns in Lubumbashi',
 '#91 of 151 places to eat in Kinshasa',
 '#83 of 151 places to eat in Kinshasa',
 '#1 of 1 places to eat in Butembo',
 '#9 of 10 places to eat in Bukavu',
 '#88 of 151 places to eat in Kinshasa',
 '#16 of 29 places to eat in Lubumbashi',
 '#1 of 2 places to eat in Kimpese',
 '#84 of 151 places to eat in Kinshasa',
 '#5 of 15 Outdoor Activities in Goma',
 '#92 of 151 places to eat in Kinshasa',
 '#1 of 1 hotel in Bunia',
 '#4 of 9 Spas & Wellness in Kinshasa',
 '#2 of 3 Transportation in Kinshasa',
 '#9 of 12 Fun & Games in Kinshasa',
 '#85 of 151 places to eat in Kinshasa',
 '#9 of 14 Shopping in Kinshasa',
 '#2 of 3 Spas & Wellness in Lubumbashi',
 '#2 of 3 Shopping in Lubumbashi',
 '#6 of 15 Outdoor Activities in Goma',
 '#4 of 12 Fun & Games in Kinshasa',
 '#14 of 29 places to eat in Lubumbashi',
 '#2 of 3 places to eat in Kolwezi',
 '#3 of 15 Outdoor Activities in Goma',
 '#96 of 151 places to eat in Kinshasa',
 '#7 of 10 Nightlife in Kinshasa',
 '#1 of 2 Nightlife in Lubumbashi',
 '#2 of 6 Transportation in Goma',
 '#1 of 3 places to eat in Kolwezi',
 '#95 of 151 places to eat in Kinshasa',
 None,
 '#86 of 151 places to eat in Kinshasa',
 '#79 of 105 things to do in Kinshasa',
 '#3 of 36 B&Bs / Inns in Lubumbashi',
 '#7 of 67 B&Bs / Inns in Kinshasa',
 '#82 of 151 places to eat in Kinshasa',
 '#3 of 46 Specialty lodging in Lubumbashi',
 '#1 of 5 hotels in Kalemie',
 '#81 of 151 places to eat in Kinshasa',
 '#1 of 2 Tours in Lubumbashi',
 None,
 '#1 of 1 Boat Tours & Water Sports in Kinshasa',
 '#1 of 1 Fun & Games in Goma',
 '#12 of 12 things to do in Lubumbashi',
 None,
 None,
 None,
 '#6 of 6 Transportation in Goma',
 None,
 '#15 of 29 places to eat in Lubumbashi',
 '#11 of 15 Outdoor Activities in Goma',
 '#5 of 8 Tours in Kinshasa',
 '#5 of 6 Transportation in Goma',
 '#8 of 18 Tours in Goma',
 None,
 None,
 '#93 of 151 places to eat in Kinshasa',
 None,
 '#13 of 15 Outdoor Activities in Goma',
 '#2 of 4 Food & Drink in Kinshasa',
 '#4 of 8 Tours in Kinshasa',
 None,
 '#65 of 105 things to do in Kinshasa',
 '#1 of 1 Boat Tours & Water Sports in Goma',
 None,
 None,
 '#2 of 2 Tours in Lubumbashi',
 '#4 of 5 Outdoor Activities in Lubumbashi',
 None,
 '#15 of 21 places to eat in Goma',
 '#6 of 10 Nightlife in Kinshasa',
 '#17 of 29 places to eat in Lubumbashi',
 '#12 of 21 places to eat in Goma',
 '#94 of 151 places to eat in Kinshasa',
 '#87 of 151 places to eat in Kinshasa',
 '#2 of 8 hotels in Goma',
 '#71 of 151 places to eat in Kinshasa',
 '#111 of 151 places to eat in Kinshasa',
 '#21 of 29 places to eat in Lubumbashi',
 '#104 of 151 places to eat in Kinshasa',
 '#100 of 151 places to eat in Kinshasa',
 '#114 of 151 places to eat in Kinshasa',
 '#2 of 4 places to eat in Kisangani',
 '#113 of 151 places to eat in Kinshasa',
 '#20 of 29 places to eat in Lubumbashi',
 '#2 of 2 places to eat in Matadi',
 '#107 of 151 places to eat in Kinshasa',
 '#109 of 151 places to eat in Kinshasa',
 '#102 of 151 places to eat in Kinshasa',
 None,
 '#19 of 29 places to eat in Lubumbashi',
 '#106 of 151 places to eat in Kinshasa',
 '#16 of 21 places to eat in Goma',
 '#28 of 151 places to eat in Kinshasa',
 '#98 of 151 places to eat in Kinshasa',
 None,
 '#3 of 4 places to eat in Kisangani',
 '#105 of 151 places to eat in Kinshasa',
 '#18 of 21 places to eat in Goma',
 '#4 of 4 places to eat in Kisangani',
 '#108 of 151 places to eat in Kinshasa',
 '#67 of 151 places to eat in Kinshasa',
 '#17 of 21 places to eat in Goma',
 '#110 of 151 places to eat in Kinshasa',
 None,
 '#112 of 151 places to eat in Kinshasa',
 '#99 of 151 places to eat in Kinshasa',
 '#1 of 1 places to eat in Boma',
 '#6 of 21 places to eat in Goma',
 None,
 '#97 of 151 places to eat in Kinshasa',
 '#101 of 151 places to eat in Kinshasa',
 None,
 '#103 of 151 places to eat in Kinshasa',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '#2 of 3 B&Bs / Inns in Beni',
 '#2 of 3 hotels in Butembo',
 '#6 of 13 B&Bs / Inns in Bukavu',
 '#15 of 43 hotels in Kinshasa',
 '#1 of 3 B&Bs / Inns in Kolwezi',
 '#4 of 13 Specialty lodging in Kolwezi',
 '#1 of 6 Specialty lodging in Likasi',
 None,
 '#1 of 1 B&B / Inn in Muanda',
 '#3 of 8 B&Bs / Inns in Kisangani',
 '#7 of 36 B&Bs / Inns in Lubumbashi',
 '#4 of 10 hotels in Lubumbashi',
 '#7 of 17 Specialty lodging in Goma',
 '#1 of 11 Specialty lodging in Mbandaka',
 '#1 of 2 Specialty lodging in Kisantu',
 '#14 of 67 B&Bs / Inns in Kinshasa',
 '#15 of 67 B&Bs / Inns in Kinshasa',
 None,
 '#3 of 6 Specialty lodging in Muanda',
 None,
 '#16 of 43 hotels in Kinshasa',
 '#1 of 1 B&B / Inn in Kindu',
 None,
 None,
 '#7 of 17 B&Bs / Inns in Goma',
 '#8 of 17 Specialty lodging in Goma',
 '#6 of 36 B&Bs / Inns in Lubumbashi',
 '#1 of 2 Specialty lodging in Boma',
 '#5 of 13 B&Bs / Inns in Bukavu',
 '#16 of 67 B&Bs / Inns in Kinshasa',
 None,
 None,
 '#1 of 1 hotel in Kisangani',
 '#1 of 12 B&Bs / Inns in Matadi',
 None,
 '#1 of 3 hotels in Matadi',
 None,
 None,
 None,
 None,
 '#2 of 11 Specialty lodging in Mbandaka',
 None,
 None,
 '#5 of 10 hotels in Lubumbashi',
 None,
 None,
 '#2 of 6 Specialty lodging in Likasi',
 '#2 of 3 hotels in Matadi',
 '#17 of 67 B&Bs / Inns in Kinshasa',
 '#1 of 1 hotel in Beni',
 '#1 of 17 Specialty lodging in Kisangani',
 '#7 of 55 Specialty lodging in Kinshasa',
 '#18 of 67 B&Bs / Inns in Kinshasa',
 '#4 of 7 hotels in Bukavu',
 '#3 of 3 B&Bs / Inns in Beni',
 '#8 of 17 B&Bs / Inns in Goma',
 '#3 of 3 hotels in Butembo',
 '#95 of 105 things to do in Kinshasa',
 '#8 of 36 B&Bs / Inns in Lubumbashi',
 '#3 of 7 hotels in Bukavu',
 '#18 of 43 hotels in Kinshasa',
 '#6 of 55 Specialty lodging in Kinshasa',
 '#17 of 43 hotels in Kinshasa',
 '#30 of 151 places to eat in Kinshasa',
 '#10 of 55 Specialty lodging in Kinshasa',
 '#1 of 1 hotel in Kimpese',
 '#20 of 67 B&Bs / Inns in Kinshasa',
 '#19 of 67 B&Bs / Inns in Kinshasa',
 '#5 of 46 Specialty lodging in Lubumbashi',
 '#9 of 17 Specialty lodging in Goma',
 '#11 of 55 Specialty lodging in Kinshasa',
 '#2 of 5 hotels in Kalemie',
 '#9 of 17 B&Bs / Inns in Goma',
 '#8 of 55 Specialty lodging in Kinshasa',
 '#12 of 55 Specialty lodging in Kinshasa',
 '#11 of 17 B&Bs / Inns in Goma',
 '#1 of 1 B&B / Inn in Kananga',
 '#9 of 55 Specialty lodging in Kinshasa',
 '#5 of 7 hotels in Bukavu',
 '#1 of 1 hotel in Kindu',
 '#10 of 17 B&Bs / Inns in Goma',
 '#10 of 17 Specialty lodging in Goma',
 '#2 of 3 B&Bs / Inns in Kolwezi',
 '#7 of 13 B&Bs / Inns in Bukavu',
 '#4 of 5 B&Bs / Inns in Bunia',
 '#24 of 67 B&Bs / Inns in Kinshasa',
 '#1 of 2 B&Bs / Inns in Boma',

In [13]:
df[['name','rankingString', 'type']]

,name,rankingString,type
0,Congoloisirs,#17 of 105 things to do in Kinshasa,ATTRACTION
1,Okapi Wildlife Reserve,#1 of 4 things to do in Orientale Province,ATTRACTION
2,Marche Nouveau DAIPN,#21 of 105 things to do in Kinshasa,ATTRACTION
3,Bukima Tented Camp,#2 of 3 Specialty lodging in Rumangabo,HOTEL
4,"Tchegera Island Tented Camp, Virunga National ...",#1 of 17 Specialty lodging in Goma,HOTEL
...,...,...,...
35831,Casa Santos Pinto,None,HOTEL
35832,Kelly GuestHouse - Lovely Bedroom - Plateau Ci...,None,HOTEL
35833,Luz Esperanca,None,HOTEL
35834,Pensao Entre Nos,None,HOTEL
35835,Pensao Nossa Lar,None,HOTEL

In [14]:

# Create new columns
df['RankingType'] = ""
df['Location'] = ""
df['Numerator'] = ""
df['Denominator'] = ""

# Iterate through the rows and extract the information
for index, row in df.iterrows():
    # Check if the value is NaN
    if pd.isnull(row['rankingString']):
        continue

    if match := re.match(
        r'#(\d+)\s+of\s+(\d+)\s+(.*?)\s+in\s+(.*?)$', row['rankingString']
    ):
        numerator = match.group(1)
        denominator = match.group(2)
        ranking_type = match.group(3)
        location = match.group(4)

        # Update the new columns
        df.at[index, 'RankingType'] = ranking_type
        df.at[index, 'Location'] = location
        df.at[index, 'Numerator'] = numerator
        df.at[index, 'Denominator'] = denominator

In [15]:
df.RankingType.value_counts()

                             9930
Specialty lodging            7287
B&Bs / Inns                  6045
hotels                       4718
things to do                 3263
Outdoor Activities           1298
Tours                         693
Boat Tours & Water Sports     558
Transportation                532
places to eat                 326
hotel                         243
B&B / Inn                     239
Shopping                      162
Food & Drink                  161
Nightlife                     126
Spas & Wellness               115
Fun & Games                    73
Classes & Workshops            37
Nature & Parks                 12
Museums                         8
Concerts & Shows                7
Traveler Resources              1
Water & Amusement Parks         1
Sights & Landmarks              1
Name: RankingType, dtype: int64

In [16]:
df.columns

Index(['id', 'type', 'category', 'subcategories', 'name', 'locationString',
       'description', 'rankingPosition', 'rating', 'rawRanking', 'addressObj',
       'localName', 'localAddress', 'latitude', 'longitude', 'rankingString',
       'rankingDenominator', 'ancestorLocations', 'ratingHistogram',
       'numberOfReviews', 'reviewTags', 'reviews', 'amenities',
       'numberOfRooms', 'priceLevel', 'priceRange', 'cuisines', 'mealTypes',
       'dishes', 'features', 'bedroomInfo', 'bathroomInfo', 'bathCount',
       'baseDailyRate', 'RankingType', 'Location', 'Numerator', 'Denominator'],
      dtype='object')

After splitting the rankingString column to their respective elements. we observe below that the new column ranking type has some elements that are similar but grouped differently.

We will then combine similar elements to have reduced distribution within the column

In [17]:
# Define the mappings to combine similar values
mappings = {
    'hotel': 'hotels',
    'B&B / Inn': 'B&Bs / Inns',
    'Sights & Landmarks': 'Nature & Parks',
    'Fun & Games': 'Outdoor Activities',
    'Boat Tours & Water Sports': 'Water & Amusement Parks',
    'Traveler Resources': 'Shopping',
    'Concerts & Shows': 'Nightlife',
    'Food & Drink': 'places to eat',
    'Nature & Parks': 'things to do',
    'Museums': 'things to do',
    'Tours' : 'things to do',
    'Outdoor Activities': 'things to do',
    'B&Bs / Inns': 'Specialty lodging'
}

# Replace the values in the 'Ranking Type' column
df['RankingType'] = df['RankingType'].replace(mappings)

In [18]:
df.RankingType.value_counts()

Specialty lodging          13332
                            9930
things to do                5274
hotels                      4961
Water & Amusement Parks      559
Transportation               532
places to eat                487
B&Bs / Inns                  239
Shopping                     163
Nightlife                    133
Spas & Wellness              115
Outdoor Activities            73
Classes & Workshops           37
Nature & Parks                 1
Name: RankingType, dtype: int64

In [63]:
# Fill missing values based on location and ranking type
df['Numerator'] = df.groupby(['Location', 'RankingType'])['Numerator'].apply(lambda x: x.ffill().bfill())

# Fill missing values in other columns with empty strings
df[['Denominator', 'Location']] = df[['Denominator', 'Location']].fillna('')

# Iterate over each row to update the denominator column
for index, row in df.iterrows():
    location = row['Location']
    ranking_type = row['RankingType']
    denominator_total = df[(df['Location'] == location) & (df['RankingType'] == ranking_type)]['Denominator'].sum()
    df.loc[index, 'Denominator'] = str(denominator_total)

KeyError: 'Location'

In [46]:
df.Numerator

0         17
1          1
2         21
3          2
4          1
        ...
35831    NaN
35832    NaN
35833    NaN
35834    NaN
35835    NaN
Name: Numerator, Length: 35836, dtype: object

In [39]:
df[['RankingType', 'name', 'type']]

,RankingType,name,type
0,things to do,Congoloisirs,ATTRACTION
1,things to do,Okapi Wildlife Reserve,ATTRACTION
2,things to do,Marche Nouveau DAIPN,ATTRACTION
3,Specialty lodging,Bukima Tented Camp,HOTEL
4,Specialty lodging,"Tchegera Island Tented Camp, Virunga National ...",HOTEL
...,...,...,...
35831,hotel,Casa Santos Pinto,HOTEL
35832,hotel,Kelly GuestHouse - Lovely Bedroom - Plateau Ci...,HOTEL
35833,hotel,Luz Esperanca,HOTEL
35834,hotel,Pensao Entre Nos,HOTEL
35835,hotel,Pensao Nossa Lar,HOTEL

In [21]:
#empty_rows = df[df['RankingType'].isnull() | df['RankingType'].eq('')]
#empty_rows[['RankingType', 'name', 'type']]

In [22]:
#speciality_lodging_rows = empty_rows[empty_rows['RankingType'] == 'things to do'][['RankingType', 'name', 'type']]
#speciality_lodging_rows

In [38]:
# Define the mapping of types to ranking types
type_mapping = {
    'ATTRACTION': 'things to do',
    'HOTEL': np.random.choice(['hotel', 'Specialty lodging'], size=1)[0],
    #'OTHER_TYPE_1': 'ranking type 1',
    #'OTHER_TYPE_2': 'ranking type 2',
    # Add more types and their corresponding ranking types as needed
}

# Fill empty rows in RankingType based on type
df['RankingType'] = np.where((df['RankingType'] == '') & (df['type'].map(type_mapping) != ''), df['type'].map(type_mapping), df['RankingType'])

In [24]:
#null_values = df[df['RankingType'].isna()]
#null_values

In [25]:
# Replace NaN values with "bathroom only" where type is "attraction"
df.loc[(df['type'] == 'RESTAURANT') & (df['amenities'].isna()), 'amenities'] = 'restaurant'

In [26]:
df.loc[(df['type'] == 'ATTRACTION') & (df['amenities'].isna()), 'amenities'] = 'bathroom only'

In [27]:
#
# df['amenities'] = df['amenities'].apply(lambda x: ', '.join(x) if isinstance(x, list) else '')

In [28]:
df['amenities'].isnull().value_counts()

False    35836
Name: amenities, dtype: int64

In [29]:

#hotel_rows = df[df['type'] == 'HOTEL']
#hotel_amenities = hotel_rows['amenities']
#hotel_amenities

In [30]:
df[['type', 'amenities']]

             type                                          amenities
0      ATTRACTION                                      bathroom only
1      ATTRACTION                                      bathroom only
2      ATTRACTION                                      bathroom only
3           HOTEL                        [Restaurant, Mountain View]
4           HOTEL  [Multilingual Staff, Restaurant, Bar/Lounge, F...
...           ...                                                ...
35831       HOTEL  [Shuttle Bus Service, Restaurant, Bar/Lounge, ...
35832       HOTEL                                                 []
35833       HOTEL  [Kids Activities, Free parking, Airport transp...
35834       HOTEL  [Kids Activities, Free parking, Airport transp...
35835       HOTEL                                                 []

[35836 rows x 2 columns]

In [31]:
#from pandas_profiling import ProfileReport

In [32]:
#import pandas_profiling

In [33]:
#profile_trip = pandas_profiling.ProfileReport(df)
#profile_trip.to_file("df.html")